<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Functional" verbose="1" >
    <parameter name="selenium.host" value="http://localhost:4444/wd/hub/" />
    <parameter name="selenium.url" value="https://www.payback.de" />
    <parameter name="headless" value="false" />
    <test name="HomePage Firefox">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="functional.PaybackTest" />
            <class name="functional.LoginFormTest" />
            <class name="functional.PaybackSearchTest" />
        </classes>
    </test>
</suite>